*{
	margin: 0;
	padding: 0;
}
body{
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	background-image: url("../imagens/img/imagem5.jpg");
	
}
h1{
	color: #67ff4a;
}
#wrapper{
	height:auto;
	width: 980px;
	margin: auto;
	background-color: #67ff4a;
}
#header{
	background-image: url("../imagens/img/img57.jpg");
	height: 230px;
}
#nav{
	background-color: white;
	width: 980px;
	height: 20px;
}
#content{
	height: 1200px;
	width:940px;
	background-color: #1C1C1C;
	background-image: linear-gradient(to top, transparent, rgba(50,50,50,50));
	float:left;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 5px;
}
/*Tudo que estiver dentro da "content" e for linkado (a) sera formatado com as informações abaixo*/
#content a{
	text-decoration: none;
	color: black;
	text-align: justify;
}
#content a:hover{
	color: #C0C0C0;
}

#footer{
	background-color: #1C1C1C;
	height:40px;
	padding-top: 40px;
	clear: both;
}
#footer a:hover{
	color: #67ff4a;
}
#footer a{
	text-decoration: none;
	color: white;
	text-align: justify;
}
#logar{
	background-color: #91E3A3 ;
	width: 300px;
	height: 130px;
	float: right;
	padding-left: 10px;
	padding-right: 10px;
}
#logo{
	height: 95px;
	float: top;

}
#inserir_produto{
	background-color: #91E3A3 ;
	width: 700px;
	height: 900px;
	margin-top: 150px;
	margin-left: 110px;
}
#titulo{
	background-color: black ;
	width: 700px;
	height: 75px;
}
#produto{
	background-color: #91E3A3 ;
	width: 260px;
	height: 310px;
	margin-top: 30px;
	margin-right: 53.3px;
	float: left;
	color:black;
}
#produto1{
	background-color: black ;
	width: 250px;
	height: 300px;
	margin: 5px 5px 5px 5px;
	text-align: center;
	color:white;
}
#imagem_produto{
	background-color: #91E3A3 ;
	width: 190px;
	height: 150px;
	margin: 30px 30px 30px 30px;
	float: left;
	color:black;
}
#imagem_produto1{
	background-color: white ;
	width: 170px;
	height: 139px;
	margin: 5px 5px 5px 10px;
	text-align: center;
	color:white;
}
.lg{
	width: 200px;
	height: 155px;
	margin-left: 10px;
	margin-top: 10px;
}
.lm{
	text-align: justify;
	color: white;

}
.l{
	text-align: justify;
	color: white;
}
/*Formatando tabela*/
.table{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	width:100%;
	border-collapse:collapse;
}
.table td, th{
	border:1px solid #2424FF;
	padding:3px 7px 2px 7px;
}
.table th{
	font-size:1.2em;
	text-align:left;
	padding-top:5px;
	padding-bottom:4px;
	background-color:#2E82FF;
	color:#fff;
}
.table tr.alt td{
	color:#000;
	background-color:#D6EDFF;
}
/*Tudo que estiver dentro da "nav" e for linkado (a) sera formatado com as informações abaixo*/

.menu{
	list-style:none;
	border:1px solid #67ff4a;
	float:left;
	position: relative;
	z-index: 50;
	font-weight: bold;
	text-align: center;
}
.menu li{
	position:relative;
	float:left;
	border-right:1px solid #67ff4a;
	background: #1C1C1C;
}
.menu li a{
	color:#67ff4a; 
	text-decoration:none; 
	padding:5px 50.9px; 
	display:block;
}
 
.menu li a:hover{
	background:#333;
	color:#fff;
	-moz-box-shadow:0 3px 10px 0 white;
	-webkit-box-shadow:0 3px 10px 0 white;
	text-shadow:0px 0px 5px white;
}
.menu li  ul{
	position:absolute;
	top:25px;
	left:0;
	background-color:;
	display:none;
}  
.menu  ul li ul{
	position:absolute;
	top:-1.9px;
	left:150px;
	background-color:black;
	display:none;
}  
.menu li:hover ul, .menu li.over ul{
	display:block;
}
.menu li ul li{
	border-right:1px solid #67ff4a;
	border-left:1px solid #67ff4a;
	border-top:1px solid #67ff4a;
	border-bottom:1px solid #67ff4a;
	display:block;
	width:150px;
}

/*pagina adicionar produto*/
.adicionar{
	margin-top: 50px;
	margin-left: 150px;
}

/* Slide da index */ 
a,img{
	border: none;
}
.trs{
	-webkit-transition:all ease-out 0.5s;
	-moz-transition:all ease-out 0.5s;
	-o-transition:all ease-out 0.5s;
	-ms-transition:all ease-out 0.5s;
	transition:all ease-out 0.5s;
}	
#slider{
	position: relative; 
	z-index: 1;
}
#slider a{
	position: absolute; 
	top: 0; 
	left: 0; 
	opacity: 0;
	filter:alpha(opacity=0);
}
.ativo{
	opacity: 1!important; 
	filter:alpha(opacity=100)!important;
	position: relative;
	z-index: 10;
}
/* PARA MUDAR A COR DAS SETAS, ALTERE O BACKGROUND */
span{
	background: #67ff4a; 
	cursor: pointer; 
	opacity: 0;
	filter:alpha(opacity=0); 
	position: absolute;
	bottom: 40%; 
	width: 43px; 
	height: 43px; 
	z-index: 5;
}
.next{
	right: 10px;
}
.next:before,.next:after{
	left: 21px;
}
.next:before{
	-webkit-transform: rotate(-42deg);
	top: 5px;
}
.next:after {
	-webkit-transform: rotate(-132deg);
	top: 19px;
}
.next:before,.next:after,.prev:before,.prev:after {
	content: "";
	height: 20px;
	background: #fff;
	width: 1px;
	position: absolute;
}
.prev {
	left: 10px;
}
.prev:before,.prev:after {
	left: 18px;
}
.prev:before {
	-webkit-transform: rotate(42deg);
	top: 5px;
}
.prev:after {
	-webkit-transform: rotate(132deg);
	top: 19px;
}
figure:hover span {
	opacity: 0.76;
	filter:alpha(opacity=76);
}
figure {
/* ALTERE AQUI O TAMANHO DO SLIDE */
	max-width: 980px;
	height: 250px;
	position: relative;
	overflow: hidden;
	margin: 50px auto;
}
/* PARA MUDAR A COR DO FUNDO, ALTERE O BACKGROUND RGB */
figcaption {
	padding-left: 20px;
	color: #67ff4a; 
	font-family:Arial, Helvetica, sans-serif;
	font-size: 22px; 
	background: rgba(0, 0, 0, 0.76); 
	width: 100%; 
	position: absolute; 
	bottom: 0; 
	left: 0; 
	line-height: 55px;
	height: 55px; 
	z-index: 5;
}

/*Pagina Cadastro*/
.cadastro{
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	color: white;
	padding-top: 50px;
}
.sucesso{
	font-family: arial, helvetica, sans-serif;
	font-size: 20px;
	color: white;
	text-align: center;
	margin-top: 100px;
}
/*editando form*/
form  label {
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:;
    font-weight:bold;
    float:left;
}
form textarea, button, input[type="text"] {
    background-color:#67ff4a;
    border:1px solid #000;
    padding:5px;
}

form textarea, button, input[type="text"]:hover {
    background-color:gray;
    border:1px solid #333;
    padding:5px;
}

form textarea, button, input[type="text"]:focus {
    background-color:green;
    border:1px solid #900;
    padding:7px;
}

input, button, textarea {
    padding:5px;
    background-color:green;
    border:1px solid #000;
    color:#fff;
    font-weight:bold;
}

input, button, textarea :hover {
    padding:5px;
    background-color:green;
    border:1px solid #036;
    color:#fff;
    font-weight:bold;
}

textarea {
    padding: 10px;
    display: block;
    width: 70%;
}

